In [2]:
#Employee Performance Bonus Eligibility
employees = {
"Ravi": 92,
"Anita": 88,
"Kiran": 92,
"Suresh": 85
}
highest_score=0
for name,score in employees.items():
  if score>highest_score:
    highest_score=score
top_scorer=[]
for name,score in employees.items():
  if score==highest_score:
    top_scorer.append(name)
print("Top Performers Eligible for Bonus:",",".join(top_scorer),"(score:",highest_score,")")

Top Performers Eligible for Bonus: Ravi,Kiran (score 92 )

In [8]:
# Search Query Keyword Analysis
a="Buy mobile phone buy phone online"
b=a.lower()
c=b.split()
char={}
for i in c:
  if i in char:
    char[i]+=1
  else:
    char[i]=1
for i in char:
  if char[i]>1:
    print(i,":",char[i])

buy : 2
phone : 2

In [17]:
#Sensor Data Validation
sensor_readings = [3, 4, 7, 8, 10, 12, 5]
char={}
for i in sensor_readings:
  if i%2==0:
    a=sensor_readings.index(i)
    char[a]=i
b=[]
for i,j in char.items():
  b.append((i,j))
print(b)

[(1, 4), (3, 8), (4, 10), (5, 12)]

In [21]:
#Email Domain Usage Analysis
emails = [
"ravi@gmail.com",
"anita@yahoo.com",
"kiran@gmail.com",
"suresh@gmail.com",
"meena@yahoo.com"
]
domain={}
for i in emails:
  a=i.split("@")[1]
  if a in domain:
    domain[a]+=1
  else:
    domain[a]=1
total=len(emails)
for i in domain:
  print(i,":",(domain[i]/total)*100,"%")

gmail.com : 60.0 %
yahoo.com : 40.0 %

In [26]:
#Sales Spike Detection
sales = [1200, 1500, 900, 2200, 1400, 3000]
total=len(sales)
mean=sum(sales)/total

for index,sale in enumerate(sales):
  if sale>(mean+(mean*0.3)):
    print("Day",index+1,":",sale)

Day 6 : 3000

In [29]:
#Duplicate User ID Detection
user_ids = ["user1", "user2", "user1", "user3", "user1", "user3"]
char={}
for i in user_ids:
  if i in char:
    char[i]+=1
  else:
    char[i]=1
for i in char:
  if char[i]>1:
    print(i,"->",char[i],"times")

user1 -> 3 times
user3 -> 2 times