In [1]:
# Unique Words in a Sentence

a="python is easy and python is powerful"
b=a.split()
unique=set(b)
print("the count of the unique words:",len(unique))
print("the unique words are :",unique)

the count of the unique words: 5
the unique words are : {'and', 'is', 'powerful', 'easy', 'python'}

In [3]:
#Highest Salary from Employee Data

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
a=max(employees,key=employees.get)
print("highest salary :",a,":",employees[a])

highest salary : Ravi : 75000

In [5]:
#Find Maximum and Minimum Values
numbers = [45, 22, 89, 10, 66]
max=numbers[0]
min=numbers[0]
for i in numbers:
    if i>max:
        max=i
    if i<min:
        min=i
print("max:",max)
print("min:",min)

max: 89
min: 10

In [7]:
#Count Products Above a Price Threshold
prices = [450, 1200, 899, 1500, 300]
count=0
for i in prices:
  if i>1000:
    count+=1
print("products above 1000:",count)

products above 1000: 2

In [10]:
#Calculate Attendance Percentage

attendance = ["P", "P", "A", "P", "P"]
count=0
for i in attendance:
  if i =="P":
    count+=1
mean=count/len(attendance)*100
print("attendance percentage :",mean)

attendance percentage : 80.0

In [11]:
#Remove Duplicate Phone Numbers

phone_numbers = [9876543210, 9123456789, 9876543210]
unique=set(phone_numbers)
print("unique phone numbers:",unique)

unique phone numbers: {9876543210, 9123456789}

In [15]:
#Count Character Frequency

a="banana"
char={}
for i in a:

  if i in char:
    char[i]+=1
  else:
    char[i]=1
print(char)

{'b': 1, 'a': 3, 'n': 2}

In [16]:
#Convert List to Tuple

a=[10,20,30]
b=tuple(a)
print(b)

(10, 20, 30)

In [20]:
#Check if a Key Exists in a Dictionary

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
key="Ravi"
if key in employees:
  print("employee exists")

employee exists

In [22]:
#Calculate Average Marks

marks=[56,78,85,90,94]
sum=0
for i in marks:
  sum=sum+i
mean=sum/len(marks)
print("average marks:",mean)

average marks: 80.6